.confirm-dialog-text {
    background-color: var(--background-color-fields);
    color: var(--color-fields);
    min-width: 400px;
}

.confirm-dialog {
    --script-nui-components-table-cell-background: var(--background-color);
}