.new-session-section {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    & > span, & > div > span {
        font-size: 0.85rem;
        font-weight: 600;
        opacity: 0.8;
        padding-bottom: 2px;
    }

    & > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    & .script-nui-text-input,
    & .script-nui-select {
        min-width: 380px;
        width: 100%;
    }

    & .script-nui-select {
        &>div {
            & svg {
                width: 20px;
                height: 20px;
                fill: var(--theme-color);
            }
        }
    }
}

.new-session-icon-picker-popover {
    &>div {
        & svg {
            width: 20px;
            height: 20px;
            fill: var(--theme-color);
        }
    }
}