.icon-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 6px;

    &>svg {
        width: 24px;
        height: 24px;
        fill: var(--color);
    }
}