.session-area {
    grid-area: SessionArea;
    display: flex;
    flex-direction: column;
}

.session-area-content {
    flex: 1;
}

.script-nui-tab-bar[data-class="session-area-tabs"] {
    margin-bottom: 2px;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 1);
    min-height: 30px;
    box-sizing: content-box;
    padding: 3px 5px;
}