.toolbar {
    grid-area: Toolbar;
    display: flex;
    border-bottom: 1px solid var(--border-color-fields);
    background-color: var(--background-color);
    gap: 5px;
    padding: 5px;

    &>.script-nui-select {
        min-width: 200px;
    }
}